%font__h4{
        padding: 0 10px;
        h4{
            font-weight: 450;
            margin-bottom: 50px;
        }
        h2{
            margin: 1px 0;
            font-weight: 500;
        }
        p{
            font-weight: 300;
        }
}